* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64778d;
    color: white;
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #bfd1d3;
}
.navbar-links li a:hover {
    color: #64778d;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    
    .navbar-links.active {
        display: flex;
    }
}
img{
    max-width:100%;
}
.about-section{
background: #64778d;
height: 500px;
max-width: 100%;
margin-top: -3em;
}
h4 {
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 20pt;
}
.gallery{
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    height: auto;
    align-content: center;
}
.gallery img{
    width: 100%;
    height: auto;
}
.des{
    padding: 15px;
    text-align: center;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 25%
}

@media only screen and (max-width: 600px){
    .responsive{
        width: 50%;
    }
}
.gallery:hover img{
    opacity: .5;
}
h3 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 24pt;
}
.contact-section{
    background-color: #64778d;
    padding: 80px, 0px;
    text-align: center;
}
.inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
}
.content-section h1{
    font-size: 20px;
    color: #888;
    margin-bottom:40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.name, .email, .message{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    color: #888;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
}
.name {
    float: left;
    width: 270px;
}
.email {
    float: right;
    width: 270px;
}

.message{ 
    min-width: 100%;
    max-width: 100%;
}

.content-section button{
    background: none;
    color: #e25b4b;
    border: 1px solid #e25b4b;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
}

.contact-section button:hover{
    background: #ecfdff;
    color: #fff;
}

@media screen and (max-width:600px) {
    .name, .email{
        width: 100%
    }
}
p2{
    color: white;
}

h1 {
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 24pt;
}
section {
    height: 100vh;
    display: flex
    justify-content: center;
    align-items: center;
}

section:before
{
    content: attr(data-text)
    color: #262626;
    font-size: 8em;
    text-transform: uppercase;
    font-weight: bold;
}
html
{
    scroll-behavior: smooth;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #64778d;
    color: #ffffff;   
    width: 100%;
}
.footer li{
    list-style-type: none;
}
.footer li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}